{% extends "base.html" %}

{% block header %}
<script>
$(function () {
  $(".request-feedback").each(function() {
    $(this).click(function () {
      var parent = $(this);
      parent.find(".spinner-holder").html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
      $.post("{% url "ask_for_feedback" %}", {'csrfmiddlewaretoken': '{{ csrf_token }}', "email": $(this).data("email")}, function(data) {
        if (data.success === true) {
          parent.removeClass("btn-default").addClass("btn-success").prop("disabled", true);
          parent.find(".spinner-holder").html('<i class="fa fa-check fa-fw"></i>');
        } else {
          parent.removeClass("btn-default").addClass("btn-warning").prop("disabled", true);
          parent.find(".spinner-holder").html('<i class="fa fa-times fa-fw"></i>');
        }
      }, "json");
    });
  });
});
</script>
{% endblock %}
{% block content %}

<h1>I want feedback from...</h1>

<p>Current list of people who will give feedback to me:</p>
<p style="max-width: 30em">
{% for user in users %}
{% if user.fb_request %}
<button type="button" class="btn {% if user.fb_request %}btn-disabled btn-success{% else %}btn-default request-feedback{% endif %} btn-lg btn-block" {% if user.fb_request %} disabled="disabled"{% endif %} data-email="{{ user.email }}">{{ user.full_name }} <span class="spinner-holder"></span></button>
{% endif %}
{% endfor %}
</p>

<p>I want feedback from...</p>
<p style="max-width: 30em">
{% for user in users %}
{% if not user.fb_request %}
<button type="button" class="btn {% if user.fb_request %}btn-disabled btn-success{% else %}btn-default request-feedback{% endif %} btn-lg btn-block" {% if user.fb_request %} disabled="disabled"{% endif %} data-email="{{ user.email }}">{{ user.full_name }} <span class="spinner-holder"></span></button>
{% endif %}
{% endfor %}
</p>
{% endblock %}
