{% extends "base.html" %}
{% block content %}

{% if requests %}

<div class="jumbotron">
<h1>Get started</h1>

<p>
  {% comment %}
    <a href="{% url "ask_for_feedback" %}" class="btn btn-primary btn-lg">Ask for feedback</a>
    {% endcomment %}
<a target="_blank" href="{{ requests.0.receiver.active_full_form }}" class="btn btn-primary btn-lg">Give feedback to {{ requests.0.receiver.full_name }}</a>
</p>
</div>
{% endif %}

<h1>Feedback requests</h1>

{% if requests %}

<p>This is an ordered list. When possible, start giving feedback from the top of the list. After you have given a feedback to someone, that person moves to "Feedback you have sent" list (or that should happen. If Google Form says you have already answered, your feedback will get to the recipient). This page does not refresh automatically.</p>

<ul>
  {% for feedback_request in requests %}
    <li><a target="_blank" href="{{ feedback_request.receiver.active_full_form }}">{{ feedback_request.receiver.full_name }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>You don't have any pending feedback requests.</p>
{% endif %}

<h1>Feedback you have sent</h1>

{% if given %}
<ul>
  {% for feedback in given %}
  <li>{{ feedback.receiver.full_name }} <a target="_blank" href="{{ feedback.edit_response_url }}"><i class="fa fa-edit"></i></a></li>
  {% endfor %}
</ul>
{% else %}
<p>You haven't given any feedback yet.</p>
{% endif %}

<h1>Everyone else</h1>

{% if all_forms %}
<p>You can write feedback to anyone else as well. After finishing "Feedback requests" section above, pick people you know anything to say. You don't have to answer all questions.</p>

<ul>
  {% for form in all_forms %}
  <li><a href="{{ form.response_url }}">{{ form.receiver.full_name }}</a></li>
  {% endfor %}
</ul>

{% else %}
<p>It seems there is no-one to show on this list: everyone on the system are already in your feedback requests and/or "you have already given feedback" lists.</p>
{% endif %}
{% endblock %}
