{% extends "base.html" %}

{% block content %}
<h2>Your feedback</h2>

<ul>
  <li>You can share feedback you got, but always respect the person who gave you the feedback. Ask for a permission to share direct quotes. Be careful with anonymous feedback.</li>
  <li>Do not joke about feedback you received, even if you think it is completely anonymous. Person who gave the feedback will probably recognize it, and that does not feel good, even if in fact no-one else knows who gave it.</li>
</ul>

{% if questions %}

{% if feedback_form %}
<div class="alert alert-info" role="alert">
  Please <a target="_blank" class="alert-link" href="{{ feedback_form }}">give feedback</a> about this process.
</div>
{% endif %}

{% include "snippets/feedback_view.html" %}
{% else %}
{% if unreleased_feedback > 0 %}
<p>You don't have any feedback available for you right now. There is {{ unreleased_feedback }} unreleased feedback for you. That will be available for you after you have had 1-on-1 meeting.</p>
{% else %}
<p>You don't have any pending or released feedback.</p>
{% endif %}
{% endif %}

{% endblock %}
