dj-database-url==0.4.2
django-compressor==2.2
django-extensions==1.9.9
django-googleauth-ng==2.3
django-reversion==2.0.12
Django==2.0
gunicorn==19.7.1
psycopg2==2.7.3.2
pytz==2017.3
raven>=3
schema==0.6.6
whitenoise==3.3.1
